<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Simple Log In Form</h1>

    <form action="/" method="POST">


        <input type="text" name="studentID" required="required" placeholder="id"><br><br><br>
        <input type="text" name="LastName" required="required" placeholder="lname"><br><br><br>
        <input type="text" name="FirstName" required="required" placeholder="FirstName"><br><br><br>
        <input type="text" name="Address" required="required" placeholder="Address"><br><br><br>
        <input type="text" name="City" required="required" placeholder="City"><br><br><br>
        <input type="submit">  
    
    </form>
    <form action="/students">
        <input type="submit" value="FetchData">
    </form>

</body>
</html>